<html>
<body>
<img src="https://static1.squarespace.com/static/51b3dc8ee4b051b96ceb10de/
51ce6099e4b0d911b4489b79/532a069de4b091b8426c38f5/1395339114068/
christopher-walken-dancing-video-supercut-preview.jpg?format=500w">

<%= link_to image_tag(''), 'Jerk Pic' %>

<h1>This is the Home Page</h1>
<p1> This is the paragraph of the home page.</p1>

<%= link_to 'Link to About', about_path  %>
  
  
</body>  
</html>