<div class ="container">
<footer>
  
  <small>
    Copyright &copy;
    Heavy Blog by Paul Petry
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path  %></li>
    </ul>
  </nav>
  
</footer>  
</div>